* {
    border: 1px solid red;
  }
  
* {
    text-align: center
  }

body {
    /* background-image: url(../MyPCWebsite/Images/websiteA.jpg); */
    background-color: rgb(184, 206, 199);
  }

.top-page > .external-links {
    display: flex;
    justify-content: flex-start;
  }

.external-links > div {
    border: 3px solid black;
    width: 200px;
    background-color:lightslategray
    
  }

.top-right {
position: absolute;
top: 20%;
right: 10%;
font-size: 400%;
font-family: 'Dosis', sans-serif;
font-style:oblique
}

.flexbox-header > heading {
  display: flex
  
  }